html,body{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato",sans-serif;
    font-weight: weight 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url(images/image1.png);
    min-height:100%;

    Position: relative; /*Taki position ko control kar sake*/ 
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
}
.pimg2{
background-image: url(images/image2.png);
    min-height:400px
}
.pimg3{
    background-image: url(images/image3.png);
    min-height:400px;

}
.pimg1,.pimg2,.pimg3{
    Position: relative; /*Taki position ko control kar sake*/ 
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:white;
    font-size: 27px;
    letter-spacing:8px;
    text-transform:Uppercase;
}

.textbg{
    background:#313534;
    padding:20px;

}
.section-light{
    padding:50px 80px;
    text-align:center;
    background-color: lightblue;
    color:grey;
}

.section-dark{
    padding:50px 80px;
    text-align:center;
    background-color: lightblue;
    color:rgb(174, 115, 5);
}
